body{
  background-color: black;
  font-family: verdana;
}
h1{
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: white;
}

.center{
  text-align: center;
}

p {
  color: white;
  background-color: white;
}

h2{
  font-weight: 300;
  font-size: 42;
}
